@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {


  /**
   * colors
   */


  --text-in-white: #f8f8f8;
  --button-color: #FEB800;
  --black-background: #2d2d2d;
	--white-background: #eeeeee;
  --blue-for-background-dark: #0379c1;
  --blue-for-background-lighter: #477eff;
  --light-blue: #3B9AE1;
  --gray: #979797;
	--red: #df4343;
  --maroon: #803C44;
  --green: #56B349;
  --dark-green: #2a473e;




  /* --red: #F90716; */
	--darker-red: #b20600;
  

	--orange-neon: #ff8d29;
	--orange: #ff5f00;


  
  --first-color: #56a3a6ff;
  /* --second-color: #c16200ff; */
  --second-color: #ff5f00ff;
  --third-color: #212227ff;
  --fourth-color: #e0ca3cff;
  --fifth-color: #fceff9ff;

  --sixth-color: #2E0249;
  --erro-color: #C20114;

  
  --nineth-color: rgb(41,41,41);
  --seventh-color: rgb(34,34,34);
  --eigth-color: rgb(31,31,31);



  /**
   * typography
   */



  --ff-montserrat: 'Montserrat Alternates', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

   /* 30px */
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;

  /* 14px */
  --fs-5: 0.875rem; 

  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;


}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


body {
  font-family: var(--ff-poppins); 
  height: 100%;
  background-color: var(--white-background);
}


h1,
h2,
h3,
h4 {
  font-family: var(--ff-montserrat);
}

p{
  margin: 0 !important;
  padding: 0 !important;
}


i {
  display: block !important;
}

img {
  width: 100%;
}


button{
  border: none;
  outline: none;
  background: none;
}

.tc {
  text-align: center !important;
}

.jsb {
  justify-content: space-between !important;
}


/* ---------------------  ------------------------ */
.container,
.row {
  height: max(100vh);
}


.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: start ;
  width: min(25rem, 90%);
  padding: 2rem;
}

#right-side {
display: flex;
align-items: center;
justify-content: center;
}

.signin-container h2 {
  margin-block: 20px;
  font-size: min(30px, max( 20px, 3vw));
}

.input-group {
  margin-block: 10px;
}

.input-group input {
  border-radius: 10px !important;
  width: 100%;
  padding-block: .5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  outline: none;
  border: 1px solid lightslategray;
  position: relative;
  font-size: min(16px, 80vw);
}

.input-group input:is(:hover, :focus){
  border: 1px solid var(--button-color);
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}


#remember-me {
  margin-block: 5px;
  margin-right: auto;
}

#signin-button {
  background-color: var(--button-color);
  width: 100%;
  padding-block: 8px;
  text-transform: uppercase;
  margin: 10px 0 5px;
  border-radius: 10px;
}

#signin-button a {
  color: white;

}

#google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid var(--button-color);
  color: black;
  width: 100%;
  padding-block: 8px;
  margin: 5px 0 10px;
  border-radius: 10px;

}

#right-side #dont-have-acc{
  text-align: center;
  color: #2d2d2d;
  margin-block: 5px;
}


/* left side */

#container {
  width: min(90%, 90vh);
  height: max(30rem, 45vw);
  border-radius: 16px;

  background-color: var(--blue-for-background-dark);
}

#left-side-img-container {
  width: max(112px, 3vw);
  position: absolute;
  top: 3rem;

}

.sub-container {
width: 80%;
text-align: center;
margin: auto;
}

.sub-container img {
  /* width: max(200px, min(80%, 60vw)); */
  width: min(400px, max(10rem, 20vw));
}

.sub-container h5 {
  font-weight: 700;
  margin-top: 3rem;
  line-height: 28px;
  color: white;
  font-size: max(18px, 1.8vw);  
}





